* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.clr {
    clear: both;
}
.boxfix {
    background-color: white;
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 99999;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.boxfix ul li {
    list-style: none;
    padding: 10px;
}
header {
    background-color: #228ae6;
  
 position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 99;
display: flex;
    justify-content: space-between;
}
header img {
    width: 16%;
    margin: 20px
}
header nav {
    width: 58%;
    padding: 20px;
    margin:20px;

}
header nav ul li {
    list-style: none;
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    color:white;
    padding: 20px;
}
section .video{
    position:fixed;
    left:0;
    right:0;
    position: relative;
    
}
section .video video{
    width:100%;
}
section .video .over{

    background-color: #228be67a;
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
}
section .video .over .word{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1;
    width: 100%;
}
section .video .over .container{
    margin-top: 20%;
    padding: 20px;
    display: inline-block;
    width: 40%;
    
}
section .video .over .container p{
    color: rgba(255,255,255, .92);
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 1.86em;
}
section .video .over .container h1{
    color: #fff;
    margin-bottom: 18px;
    line-height: 1.2em;
    font-size: 64px;
    font-weight: 400;

}
section .video .over .container .btn{
    margin-top: 30px;
    width:100%;

}
section .video .over .container .btn button{
    border: 2px solid transparent;
    padding: 15px 28px;
    font-size: 15px;
    background-color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #121212;
    position: relative;

}
section .video .over .container .btn  .over1{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 255, 0.247);

    opacity:0;
}
section .video .over .container .btn:hover .over1{
    opacity:1;
}
.content{
    padding:75px 54.5px 40px;

}
.content .firstcont{
    width:50%;
    text-align: center;
    margin: auto;
}

.content .firstcont h2{
    font-size: 32px;
    color: #303030;
    line-height: 1.38em;
    font-weight: 400;
    margin-bottom: 30px;
}
.content .firstcont p{
    font-size: 1.1em;
    color: #606060;
    line-height: 1.86em;
}
.box{
    display: flex;
    width:100%;
    margin:20px;
}
.box .boxcontain{
    width:33.33%;
    display: flex;
}
.box .icon{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.box .boxcontain h5{
    margin-bottom: 7px;
    font-size: 17px;
    color: #303030;
    line-height: 1.38em;
    font-weight: 500;

}
.box .boxcontain p{
    font-size: 14px;
    color: #888;
    line-height: 1.86em;

}
.box .sentence{
    padding-right: 20px;
}
.box1{
    display: flex;
    width:100%;
    margin:20px;
    padding-top: 20px;
}
.box1 .boxcontain{
    width:33.33%;
    display: flex;
}
.box1 .icon{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.box1 .boxcontain h5{
    margin-bottom: 7px;
    font-size: 17px;
    color: #303030;
    line-height: 1.38em;
    font-weight: 500;

}
.box1 .boxcontain p{
    font-size: 14px;
    color: #888;
    line-height: 1.86em;

}
.box1 .sentence{
    padding-right: 20px;
}
.box2{
    display: flex;
    width:100%;
    margin:20px;
    padding-top: 20px;
}
.box2 .boxcontain{
    width:33.33%;
    display: flex;
}
.box2 .icon{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.box2 .boxcontain h5{
    margin-bottom: 7px;
    font-size: 17px;
    color: #303030;
    line-height: 1.38em;
    font-weight: 500;

}
.box2 .boxcontain p{
    font-size: 14px;
    color: #888;
    line-height: 1.86em;

}
.box2 .sentence{
    padding-right: 20px;
}
.thirdcon{
    padding-top: 70px;
    padding-bottom: 70px;
    color: #999;
    text-align: center;
}
.thirdcon h3{
    font-size: 30px;
    margin-bottom: 0;
    color: #303030;
    line-height: 1.38em;
    font-weight: 400;

}
.thirdcon p{
    font-size: 17px;
    color: #888;
    margin: 17px auto 0;
    line-height: 1.86em;
    margin-bottom: 60px;
}
.thirdcon ul li{
    list-style: none;
    display:inline-block;
    font-size: 15px;
    padding: 0 0 4px 0;
    margin: 0 13px;
    
}
.thirdcon ul li a{
    text-decoration: none;
    color: #949494;
}
.thirdcon ul li a:hover{
    color:black;
}
.First{
display: flex;
    width: 80%;
    margin: auto;
}
.First .imgg {
    margin:20px;
    width:33.33%;
    overflow: hidden;
    position: relative;
}
.First .imgg .over2{
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77%;
    opacity: 0;
    z-index: 1;
}
.First .imgg:hover  .over2{
    opacity:1;
    cursor: pointer;
}
.First .imgg:hover  img{
    transform: scale(1.1);
}
 .First .imgg .over2 .icon{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 100%;
    text-align: center;

}
 .First .imgg .over2 .icon .secondicon{
    background-color: rgba(255,255,255,0.8);
    font-size: 18px;
    transition: opacity .3s;
    font-weight: 300;
    border-radius: 100%;
    color: #333;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}
 .First .imgg .over2 .icon .firsticon{
    background-color: rgba(255,255,255,0.8);
    font-size: 18px;
    transition: opacity .3s;
    font-weight: 300;
    border-radius: 100%;
    color: #333;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}
 .First .imgg .over2 .icon {
    transform: translateY(10px);
    transition: all 1s;
}
 .First .imgg:hover .icon{
    transform: translateY(-10px);
}
.First .imgg .under{
    padding: 10px;
    background: #fff;
    border: 1px solid #efefef;
    position: relative;
    font-size: 15px;
    border-top: 0 ;
    text-align: center;
}
.First .imgg .under h4{
    color: #333;
    font-size: 19px;
    line-height: 1.38em;
    margin-bottom: 2px;
    font-weight: normal;
}
.First .imgg .under p{ 
    margin:20px;
    color: #888;
    margin-top: 0;
    font-size: 15px;
    line-height: 1.86em;
    font-weight: 400;
}
.Second{
    display: flex;
        width: 80%;
        margin: auto;
    }
    .Second .imgg {
        margin:20px;
        width:33.33%;
        overflow: hidden;
        position: relative;
    }
    .Second .imgg .over2{
        background-color: rgba(0, 0, 0, 0.486);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 77%;
        opacity: 0;
        z-index: 1;
    }
    .Second .imgg:hover  .over2{
        opacity:1;
        cursor: pointer;
    }
    .Second .imgg:hover  img{
        transform: scale(1.1);
    }
     .Second .imgg .over2 .icon{
        position: absolute;
        top: 50%;
        margin-top: -16px;
        width: 100%;
        text-align: center;
    
    }
     .Second .imgg .over2 .icon .secondicon{
        background-color: rgba(255,255,255,0.8);
        font-size: 18px;
        transition: opacity .3s;
        font-weight: 300;
        border-radius: 100%;
        color: #333;
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        display: inline-block;
        margin: 0 10px;
    }
     .Second .imgg .over2 .icon .firsticon{
        background-color: rgba(255,255,255,0.8);
        font-size: 18px;
        transition: opacity .3s;
        font-weight: 300;
        border-radius: 100%;
        color: #333;
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        display: inline-block;
        margin: 0 10px;
    }
     .Second .imgg .over2 .icon {
        transform: translateY(10px);
        transition: all 1s;
    }
     .Second .imgg:hover .icon{
        transform: translateY(-10px);
    }
    .Second .imgg .under{
        padding: 10px;
        background: #fff;
        border: 1px solid #efefef;
        position: relative;
        font-size: 15px;
        border-top: 0 ;
        text-align: center;
    }
    .Second .imgg .under h4{
        color: #333;
        font-size: 19px;
        line-height: 1.38em;
        margin-bottom: 2px;
        font-weight: normal;
    }
    .Second .imgg .under p{ 
        margin:20px;
        color: #888;
        margin-top: 0;
        font-size: 15px;
        line-height: 1.86em;
        font-weight: 400;
    }
    .fourthcont{
        padding-left: 54.5px;
        padding-right: 54.5px;
        padding-top: 0px;
        padding-bottom: 35px;
        margin-bottom: 55px;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
    }
    .fourthcont  h3{
        font-size: 30px;
        color: #303030;
        line-height: 1.38em;
        font-weight: 400;
    }
    .fourthcont .between .container  p{
        font-size: 17px;
        padding:20px;
    margin: 17px auto 0;
    line-height: 1.86em;
    }
    .fourthcont .between{
        display: flex;
        margin: auto
    }
    .fourthcont .between .container{
        background-color: #8080804a;
        margin:20px;
        border-radius: 4px;
        width:33.33%;
    }
    .fourthcont .between .white{
        padding-left: 26px;
        margin-top: 20px;
        font-size: 15px;
        position: relative;
        line-height: 1.86em;
        font-weight: 400;
        color: #686868;
        background-color: white;
        text-align: left;
    }
    .fourthcont .between .white h3{
        font-size: 15px;
        line-height: 1.86em;
        font-weight: 400;
        color: #686868;
    }
    .fourthcont .between .container .white .difer{
        font-size: 1em;
    margin-top: 2px;
    opacity: .7;
    margin-bottom: 8px;
    line-height: 1.86em;
    font-weight: 400;
    color: #686868;

    }
    .fifthcont{
        padding-left: 54.5px;
        padding-right: 54.5px;
        text-align: center;
    }
    .fifthcont h3{
        font-size: 30px;
        color: #303030;
        line-height: 1.38em;
        font-weight: 400;
    }
    .fifthcont p{
        font-size: 17px;
    color: #888;
    max-width: 720px;
    margin: 17px auto;
    line-height: 1.86em;
    }
    .fifthcont .lastbox{
        display:flex;

    }
    .fifthcont .lastbox .laston{
        width:33.33%;
        margin: 20px;
        border: 1px solid #efefef;
    }
    .fifthcont .lastbox .laston .seperator{
        padding: 22px;
        text-align: left;
    }
    .fifthcont .lastbox .laston .seperator h5{
        font-size: 20px;
        line-height: 1.38em;
        font-weight: 500;

    }
    .fifthcont .lastbox .laston .seperator p{
        margin-bottom: 15px;
        line-height: 1.96em;
        margin-top: 0;
        font-size: 15px;
        color: #686868;
    }
    .fifthcont .lastbox .laston .seperator a{
        text-decoration: none;
        color: #666;
        font-size: 14px;
        font-weight: 400;
    letter-spacing: 0;
    }
    .fifthcont .lastbox .laston .seperator span{
        display: inline-block;
    margin-left: 8px;
    margin-top: -2px;
    font-size: 14px;
    }
    .fifthcont .lastbox .laston .seperator a:hover {
        color: #1976d2;
   
    }
    .fifthcont .lastbox .laston .seperator  a:hover span {
        margin-left: 14px;
    }
    .sixthcont {
        text-align: center;
        padding: 80px 10px;

    }
    .sixthcont h2{
        font-size: 36px;
        line-height: 1.5em;
        color: #303030;
        font-weight: 400;
    }
    .sixthcont p{
        margin-top: 15px;
        color: rgba(0,0,0,0.5);
        font-size: 20px;
        font-style: normal;
        line-height: 1.5em;

    }
    .sixthcont button{
        margin: 13px 0 0 0;
        border: 2px solid transparent;
        padding: 20px 28px;
        font-size: 15px;
        background-color: #1976d2;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-weight: 700;
        color:white;
        cursor: pointer;
    }
    .sixthcont button:hover{
        background-color: #333;
    }
    .bottom{
        padding-top: 62px;
        padding-bottom: 52px;
        font-size: 14px;
        color: #797979;
        background-color: #1b1b1b;
        height: 403px;
    }
    .bottom h3{
        color:white;
        font-weight: 400;
        padding: 20px;
    }
    .bottom .About{
        width:33.33%;
        float: left;
        padding-right: 70px;
        padding-bottom: 40px
    }
    .bottom .About p{
        margin-left:10px;
    }
    .bottom .Opening{
        width: 33.33%;
        float: left;
        padding-right: 30px;
        padding-bottom: 40px;
    }
    .bottom .contact{
        width: 33.33%;
        float: left;
        padding-right: 30px;
        padding-bottom: 40px;
      
    }
    .bottom .contact .back{
        background-image: url(../Img/bottom.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .bottom .Useful ul li{
        list-style: none;
        padding:10px;
        border-bottom: 1px solid  #969696;
    }
    .bottom .Useful ul li a{
        text-decoration: none;
        color: #969696;
    }
    .bottom .Useful ul li a:hover{
        color:white;
    }
    .bottom .Opening ul li{
        list-style: none;
        padding:10px;
        border-bottom: 1px solid  #969696;
    }
    .bottom .contact ul li{
        list-style:none;
        padding:10px;
    }
    .bottom .contact ul li a{
        text-decoration: none;
        color: #969696;
    
    }
    .bottom .contact ul li a:hover{
        color:white;
    }
    .final{
        display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #151515;
    align-items: center;
    }
    .final p{
        font-size: 13px;
        color: #777;
        margin-bottom: 0;
        margin-top: 5px;
        line-height: 1.86em;
    
    }
    .final ul li{
        list-style: none;
        display:inline-block;
        padding:20px;
    }
    .final ul li i{
        width: 36px;
        font-size: 15px;
        background-color: #484540;
        color: #8c8a86;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
    }
    .final ul li .face a i:hover{
        background-color: #4267B2;
    }
    .final ul li .google a i:hover{
        background-color: #EA4335;
    }
    .final ul li .linked a i:hover{
        background-color: #0077B5;
    }
    .final ul li .twitter a i:hover{
        background-color: #1DA1F2;
    }
    @media(max-width:768px){
        header nav{
            padding:0;
            width:100%;

        }
        header img{
            width: 20%;
        }
        

section .video{
    height: 506px;
}
        section .video video {
            width: 160%;
            height: 670px;
        }
        section .video .over{
            width: 160%;
            height: 506px;
        }
        section .video .over .container p{
            font-size: 15px;
        }
        section .video .over .container h1{
            font-size: 34px;
        }
        .content {
            width:160%;
            padding:20px;
        }
        
        .content .firstcont{
            width:100%;
        }
        .content .firstcont h2{
            font-size: 2.5rem;  
        }
        .content .firstcont p{
            font-size: 20px;
        }
        .box {
            flex-wrap: wrap;
    }
    .box .boxcontain {
        width: 100%;
    }
    .box .boxcontain h5{
        font-size: 20px;
    }
    .box .boxcontain p {
        font-size: 16px;
    }
    .box1{
        flex-wrap: wrap;
    }
    .box1 .boxcontain {
        width: 100%;
    }
    .box1 .boxcontain h5 {
        font-size: 20px;
    }
    .box1 .boxcontain p {
        font-size: 16px;
    }
    .box2{
        flex-wrap: wrap;
    }
    .box2 .boxcontain {
        width: 100%;
    }
    .box2 .boxcontain h5 {
        font-size: 20px;
    }
    .box2 .boxcontain p {
        font-size: 16px;
    }
    .thirdcon ul li {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .thirdcon {
        width:160%;
    }
    .First{
        
    flex-wrap: wrap;
    }
    .First .imgg{
        width:100%;
    }
    .First .imgg .under h4{
        font-size: 25px;
    }
    .First .imgg .under p{
        font-size: 20px;
    }
    .Second{
        flex-wrap: wrap;
    }
    .Second .imgg{
        width: 100%;
    }
    .Second .imgg .under h4{
        font-size: 25px;
    }
    .Second .imgg .under p{
        font-size: 20px;
    }
    .fourthcont{
        width:160%;
    }
    .fourthcont .between{
        flex-wrap: wrap;
    }
    .fourthcont .between .container{
        width: 100%;
    }
    .fifthcont{
        width:160%;
    }
    .fifthcont .lastbox{
        flex-wrap: wrap;
    }
    .fifthcont .lastbox .laston{
        width: 100%;
    }
    .sixthcont{
        width:160%;
    }
    .bottom{
        width:160%;
        height: 1070px

    }
    .bottom .About {
        width:100%;
    }
.bottom h3{
    font-size: 25px;
}
.bottom .About p{
    font-size: 20px;
}
.bottom .Opening{
    width: 100%;
}
.bottom .Opening ul li{
    font-size: 20px;
}
.bottom .contact{
    width: 100%;
}
.bottom .contact ul li{
    font-size: 20px;
}
.final {
    width:160%;
}
.final p{
    font-size: 15px;
}
    }